/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

/* Root Variables */
:root {
  --mainTextColor: #fff;
  --secondaryTextColor: #adb0b1;
  --mainLinkColor: rgb(30, 190, 214);
  --mainBorderColor: #2b3031;
  --mainBgColor: #131415;

  --color-scrollbar-thumb: #1ebed6;
  --color-scrollbar-track: #464f51;
  --color-shadow: #2b3031;

  --shadow-profile-pic: 0 1px 1px var(--color-shadow),
    0 2px 2px var(--color-shadow), 0 4px 4px var(--color-shadow),
    0 8px 8px var(--color-shadow), 0 16px 16px var(--color-shadow);
}

/* Global Styles */
* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
  max-width: 43.75rem;
  margin: 0 auto;
  padding: 1em;
  @media (max-width: 768px) {
    width: 80dvw;
  }
}

h2 {
  @media (max-width: 400px) {
    font-size: 1.375em;
  }
  @media (max-width: 360px) {
    font-size: 1.125rem;
  }
  @media (max-width: 300px) {
    font-size: 0.95rem;
  }
}

strong {
  @media (max-width: 460px) {
    font-size: 0.875em;
  }
}

p,
span,
time,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

li {
  line-height: 1.9em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

section {
  @media (max-width: 300px) {
    padding-block: 0.5em;
  }
  /* Section within header */
  &:first-of-type {
    @media (max-width: 420px) {
      padding-block: 0.5em;
    }
  }
  /* Socials Section */
  &:nth-of-type(1) {
    padding-block: 1em;
    @media (max-width: 460px) {
      padding-block: 0 1em;
    }
  }
}

address {
  /* Reset default font style of address element */
  font-style: normal;
  @media (max-width: 768px) {
    text-align: start;
  }
}

/* Scrollbar Styles */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-scrollbar-thumb) var(--color-scrollbar-track);
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  border: 1px solid var(--mainBgColor-dark);
  background-color: var(--color-scrollbar-track);
}

*::-webkit-scrollbar-track:hover {
  background-color: #464f51;
}

*::-webkit-scrollbar-track:active {
  background-color: #464f51;
}

*::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--color-scrollbar-thumb);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #38cce3;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #38cce3;
}

/* Header Section */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4em;
  padding-block: 1em 0;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 1em;
    padding-block: 2em 1em;
  }
  @media (max-width: 640px) {
    flex-direction: column;
  }
  @media (max-width: 420px) {
    padding-bottom: 0;
  }
}

.user-name {
  font-size: 3rem;
  line-height: 0.25em;
  @media (max-width: 768px) {
    font-size: 2.125rem;
    line-height: 1em;
    text-align: start;
  }
  @media (max-width: 640px) {
    font-size: 1.75rem;
    line-height: 1em;
    text-align: center;
  }
  @media (max-width: 360px) {
    font-size: 1.5rem;
  }
  @media (max-width: 300px) {
    font-size: 1.25rem;
  }
}

.profile-pic {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--shadow-profile-pic);
  @media (max-width: 768px) {
    width: 10rem;
    height: 10rem;
  }
}

.bio,
.email {
  @media (max-width: 400px) {
    font-size: 0.85em;
  }
}

.email {
  color: var(--mainTextColor);
  & > a::before {
    content: "\2709  ";
  }
  /* Media query nested last due to pseudo-selector usage  */
  @media (max-width: 300px) {
    & > a::before {
      content: none;
    }
  }
}

/* Social Links */
.socials--list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 1em;
  @media (max-width: 460px) {
    display: flex;
    flex-direction: column;
  }
  & > a {
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
    &:hover {
      font-weight: 300;
      color: var(--mainLinkColor);
      font-size: 0.9em;
    }
  }
}

/* Qualifications Section */
.qualifications--list {
  padding-left: 3rem;
  @media (max-width: 400px) {
    padding: 1rem;
  }
  @media (max-width: 300px) {
    padding: 0 0 0 1rem;
  }
  & > li {
    padding: 0 0 0.5rem 0.5rem;
    &::marker {
      content: "\2714 ";
      color: #1ebed6;
      font-size: 1.2em;
      padding-right: 0.5rem;
    }
  }
}

/* Tech Stack Section */
.wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
  padding-bottom: 2rem;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

.card--projects {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 1em;
  align-items: center;
}

span.card--heading {
  font-weight: bold;
  font-size: 1rem;
}

/* Project Card Styles */
.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
  & > a {
    color: var(--mainTextColor);
    transition: 0.3s;
    &:hover {
      color: rgb(30, 190, 214);
    }
  }
}

/* Work History Section */
.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
  @media (max-width: 768px) {
    margin-top: 1em;
    border-left: none;
    padding-left: 0;
  }
  & > ul {
    @media (max-width: 460px) {
      padding-left: 1rem;
    }
  }
}

/* Footer Section */
footer {
  text-align: center;
  border-top: 2px solid var(--secondaryTextColor);
  & > p {
    @media (max-width: 300px) {
      font-size: 0.95em;
    }
  }
}

/* Line Break Styles */
.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}
