/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");

/* Root Variables */
:root {
  --mainTextColor-dark: #fff;
  --secondaryTextColor-dark: #adb0b1;
  --mainLinkColor-dark: rgb(30, 190, 214);
  --mainBorderColor-dark: #2b3031;
  --mainBgColor-dark: #131415;

  --mainTextColor: var(--mainTextColor-dark);
  --secondaryTextColor: var(--secondaryTextColor-dark);
  --mainLinkColor: var(--mainLinkColor-dark);
  --mainBorderColor: var(--mainBorderColor-dark);
  --mainBgColor: var(--mainBgColor-dark);
}

/* Global Styles */
* {
  font-family: "Readex Pro";
  line-height: 1.5em;
  box-sizing: border-box;
  color: var(--mainTextColor);
}

body {
  background-color: var(--mainBgColor);
  max-width: 43.75rem;
  margin: 0 auto;
  padding: 1em;
}

p,
span,
li {
  color: var(--secondaryTextColor);
  font-size: 1em;
}

a {
  text-decoration: none;
  color: var(--mainLinkColor);
  font-weight: 500;
}

li {
  line-height: 1.9em;
}

/* Reset default font style of address element */
address {
  font-style: normal;
}

.section--page {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* Hero Section */
header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4em;
}

.user-name {
  font-size: 3rem;
  line-height: 1em;
}

.profile-pic {
  width: 9.375rem;
  height: 9.375rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 1px 1px #2b3031, 0 2px 2px #2b3031, 0 4px 4px #2b3031,
    0 8px 8px #2b3031, 0 16px 16px #2b3031;
}

.email {
  color: var(--mainTextColor);
}

.socials--list {
  display: flex;
  row-gap: 1em;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Social Links */
.socials--list a {
  font-weight: 300;
  color: var(--secondaryTextColor);
  font-size: 0.9em;
  transition: 0.3s;
}

/* Hover effect for Social Links */
.socials--list a:hover {
  font-weight: 300;
  color: var(--mainLinkColor);
  font-size: 0.9em;
}

/* Qualifications Section */
.qualifications--list {
  padding-left: 3rem;
}

.qualifications--list li {
  padding-left: 0.5rem;
}

.qualifications--list li::marker {
  content: "\2714 ";
  color: #1ebed6;
  font-size: 1.2em;
  padding-right: 0.5rem;
}

/* Tech Stack Section */
.wrapper--techstack__items {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  font-size: 0.9em;
}

.card--techstack {
  border: 1px solid var(--mainBorderColor);
  border-radius: 5px;
  padding: 0.5em 1em;
  align-items: center;
}

/* Project Card Styles */
.card--project {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid var(--mainBorderColor);
}

.card--project a {
  color: var(--mainTextColor);
  transition: 0.3s;
}

.card--project a:hover {
  color: rgb(30, 190, 214);
}

/* Work History Section */
.card--work-history {
  border-left: 1px solid var(--mainBorderColor);
  margin-top: 3em;
  margin-bottom: 3em;
  padding-left: 2em;
}

/* Footer Section */
footer {
  text-align: center;
  border-top: 2px solid var(--secondaryTextColor);
}

.copyright {
  font-size: small;
}

/* Line Break Styles */
.line-break {
  background-color: var(--mainBorderColor);
  height: 1px;
}

/* Media Query for Medium Screens */
@media (max-width: 768px) {
  body {
    width: 80dvw;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 1em;
  }

  .profile-pic {
    width: 10rem;
    height: 10rem;
    filter: drop-shadow();
  }

  .user-name {
    font-size: 2.125rem;
    line-height: 1em;
    text-align: start;
  }

  .bio {
    text-align: justify;
  }

  address {
    text-align: start;
  }

  .section--page:first-of-type {
    padding-top: 2em;
    padding-bottom: 1em;
  }

  .section--page {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .card--work-history {
    border-left: none;
    padding-left: 0;
  }
}

/* Media Query for Small Screens */
@media (max-width: 640px) {
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
  }

  .user-name {
    font-size: 2rem;
    line-height: 1em;
    text-align: center;
  }
}

/* Media Query for Extra Small Screens */
@media (max-width: 360px) {
  .user-name {
    font-size: 1.5rem;
  }

  .socials--list {
    display: flex;
    flex-direction: column;
  }

  h2 {
    font-size: 1.125rem;
  }

  .qualifications--list {
    padding-left: 1rem;
  }
}
